@font-face {
    font-family: 'effra-rg';
    src: url('./fonts/effra-rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'effra-bd';
    src: url('./fonts/effra-bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ===========================================
Allgemeine Einstellungen
=========================================== */
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}

body {
    font-family: 'effra-rg', Arial, sans-serif;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 220px 1fr;
}

#no-hover:hover {
    background-color: #33333300;
}

/* ===========================================
Typografie
============================================ */
h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0 0 70px 0;
    padding: 0;
    font-size: 4rem;
    font-family: 'effra-bd', Arial, sans-serif;
}

h3 {
    font-size: 2rem;
    margin: 10px 0;
    font-family: 'effra-bd', Arial, sans-serif;
}

h4 {
    font-size: 1.5rem;
    margin: 10px 0;
    font-family: 'effra-bd', Arial, sans-serif;
}

* {
    font-family: 'effra-rg', Helvetica, Arial, sans-serif;
}

/* ===========================================
Material Icons
============================================ */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* ===========================================
Header
=========================================== */
header {
    position: fixed;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 70px;
    background: rgb(0 161 190);
    box-shadow: 1.5px 2px 13px rgba(100, 100, 100, 0.3);
    color: #333;
    border-radius: 40px;
    width: 80px;
    height: calc(100vh - 140px);
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5px;
    margin: -15px 0 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-weight: 700;
    border-radius: 30px;
    padding: 15px 2px 10px 2px;
    margin: 5px 11px;
    display: block;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    background: rgba(205, 205, 205, 0.3);
}

/* ===========================================
Main Content
=========================================== */
main {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 70px 70px 0px 0px;
    display: flex;
    justify-content: center;
}

.max-width {
    min-height: calc(100vh - 170px);
    max-width: 1500px;
    padding-bottom: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 600px;
    row-gap: 170px;
}

main a {
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    padding: 30px 70px;
    text-align: center;
}

.image-raster {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px 50px;
    margin-bottom: 20px;
}

.image-raster img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.a-button {
    display: block;
    width: fit-content;
    box-shadow: 1px 1px 13px #dbdbdb;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
    padding: 15px 30px !important;
    margin: 10px 15px 20px 0px !important;
}

.a-button:hover {
    transform: scale(1.03);
}

main a:hover {
    transform: scale(1.03);
}

/* Content Bereich */
.content {
    grid-column-start: 2;
    grid-column-end: 4;
}

.card-style {
    display: block;
    background: #fff;
    border-radius: 30px;
    box-shadow: 1.5px 2px 13px rgba(142, 142, 142, 0.3);
    padding: 20px 40px;
    margin: 0 0 30px 0;
}

/* CI/CD Sammlung */
#ci-cd-sammlung {
    display: grid;
    background-color: #f5f5f5;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    overflow-y: auto;
    border-radius: 40px;
    padding: 30px 30px 0px 30px;
    position: absolute;
    left: 50%;
    bottom: -117px;
    transform: translateX(-50%);
    width: calc(100% - 300px);
    background: #ffffff66;
    box-shadow: 0 4px 32px 0 rgba(31, 67, 90, 0.20);
    backdrop-filter: blur(7px) saturate(150%);
    -webkit-backdrop-filter: blur(7px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#ci-cd-sammlung a {
    padding: 20px 30px;
    font-size: 1.2em !important;
    border-radius: 15px;
}

#younique-cd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.st0 {
    align-self: center;
    justify-self: center;
    height: 450px;
    background-color: #fff;
}

.younique-logo-glass {
    align-self: center;
    justify-self: center;
    margin-top: 30px;
    height: 350px;
}

#disclaimer {
    z-index: 1;
    position: fixed;
    font-family: 'effra-bd', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    width: calc(100vw - 120px);
    height: 100vh;
    color: #fff;
    background-color: #294754;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#disclaimer img {
    max-width: 70%;
    height: auto;
}

#disclaimer p {
    margin-bottom: 20%;
}


/* ===========================================
Younique-CD Bereich
============================================ */
#younique-cd {
    position: relative;
    background-image: url('./bilder/RGB_M-Budget_Picknick_0323.jpg');
    background-size: cover;
    background-position: 10% 50%;
    margin: 0 0 30px 0 !important;
    box-shadow: 1.5px 2px 13px rgba(100, 100, 100, 0.3);
    border-radius: 40px;
    padding: 20px;

}

#younique-cd h1 {
    font-size: 7vh;
    color: #fff;
    text-shadow: 1px 2px 70px #333;
    text-align: center;
}

#younique-cd input {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    width: calc(100% - 300px);
    max-width: 1300px;
    font-size: 1rem;
    text-align: center;
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 13px rgba(100, 100, 100, 0.3);
    background: #fff;
}

#younique-logo-container {
    display: grid;
    grid-template-columns: 2fr 370px;
    gap: 30px 50px;
}

#younique-logo a {
    margin: 0;
    padding: 0;
}

#younique-logo img {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 7px 0;
}

.dreier-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 0px 30px;
    height: fit-content;
}

.dreier-grid img {
    width: 100%;
    border-radius: 10px;
}

#font-samples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px 50px;
    overflow-y: auto;
    padding: 30px;
    margin: 0 -30px;
}

#font-samples p {
    margin: 10px 0 0 0;
}

#younique-farben {
    margin-top: 30px;
}

.farb-karte-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 180px);
    gap: 30px;
    margin-bottom: 30px;
}

.farb-karte-container-klein {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-bottom: 35px;
}

.farb-karte {
    color: #fff;
    border-radius: 10px;
    padding: 20px 0 0 0;
    text-align: center;
}

.farb-karte-container-klein .farb-karte {
    height: 170px;
}

.farb-karte h4 {
    margin: 25px 0 5px 0;
    font-size: 1.2em;
}

.farb-karte p {
    margin: 5px 0 0 0;
    font-size: 1em;
}

#farbe-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #44b0ce;
}

#farbe-2 {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #294754;
}

#farbe-3 {
    background-color: #7a3f91;
}

#farbe-4 {
    height: calc(100% - 92px);
    width: 50%;
    margin: 0;
    padding: 45px;
    border: #000 1px solid !important;
    border-radius: 10px 0 0 10px;
}

#farbe-5 {
    height: calc(100% - 92px);
    width: 50%;
    margin: 0;
    padding: 45px;
    background-color: #000 !important;
    border: #000 1px solid !important;
    border-radius: 0 10px 10px 0;
}

/* ===========================================
Footer
============================================ */
footer {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer div {
    width: 100%;
}

footer p {
    background: rgb(31 67 90);
    color: #fff;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: calc(1500px - 108px);
    margin: 20px 70px 70px 0px;
    padding: 20px 60px;
    border-radius: 40px;
}

/* ===========================================
@ Media Screen
============================================ */
@media screen and (max-width: 1440px) {
    #younique-logo-container {
        grid-template-columns: 1fr;
    }

    .farb-karte-container-klein {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1300px) {
    .farb-karte-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit, 180px);
    }

    .farb-karte-container .farb-karte {
        min-height: 170px !important;
    }
}

@media screen and (max-width: 1200px) {
    #ci-cd-sammlung {
        grid-template-columns: 1fr;
        bottom: -370px;
    }

    .max-width {
        row-gap: 400px;
    }

    #ci-cd-sammlung {
        width: calc(100% - 200px);
    }

    .farb-karte-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 180px);
    }

    .farb-karte-container-klein {
        grid-template-columns: repeat(2, 1fr);
    }

    .farb-karte-container .farb-karte {
        grid-column-start: 1 !important;
        grid-column-end: 2 !important;
    }

    #farbe-1 {
        grid-row-start: 1 !important;
        grid-row-end: 2 !important;
    }

    #farbe-2 {
        grid-row-start: 2 !important;
        grid-row-end: 3 !important;
    }

    #farbe-3 {
        grid-row-start: 3 !important;
        grid-row-end: 4 !important;
    }
}

@media screen and (min-width: 830px) {
    #disclaimer {
        display: none;
    }
}

@media screen and (max-width: 829px) {
    * {
        overflow: hidden !important;
    }
}